
<body class="bg-light" >

<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Demo </a>
    <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" routerLink="/">News</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Stock</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Account</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Settings</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="#">Author</a>
            </li>
        </ul>
    </div>
</nav>

    <div class="pt-5 background-white frame">
        <div id="profile" class="container p-3">
            <h2>Profile</h2>
            <p class="lead">I&#039;m a software developer</p>
            <hr/>
            <div class="row">
                <div class="col-md-4">
                    <h3>About me</h3>
                    <p class="text-justify"> I am a master student major in computer science. At school I maily focus on distributed system and cloud computing. I'm also familar with full stack web development, mobile development and cloud services. I like working in a team, you'll learn faster and much more. 	</p>
                </div>
                <div class="col-md-4 text-center">
                    <img class="roundimg zoom" src="/assets/images/myProfile.png" alt="Lintao Lu" width="200" height="200" />
                </div>
                <div class="col-md-4 text-center">
                    <h3>Details</h3>
                    <p>
                        <strong>Name:</strong><br />Lintao Lu<br /><strong>Age:</strong><br />24 years<br /><strong>Location:</strong><br/>944w 32nd st, Chicago, IL<br /><strong>Email:</strong><br/><a href="mailto:llu25@hawk.iit.edu">llu25@hawk.iit.edu</a>	
                    </p>
                </div>
            </div>
        </div>
    </div>

</body>


