<body class="bg-light">

    <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Demo </a>
        <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="#">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Stock</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Account</a>
                </li>
                <li class="nav-item">
                    <div ngbDropdown class="d-inline-block">
                        <a class="nav-link myClickableThingy" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</a>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <li ngbDropdownItem>Action - 1</li>
                            <li ngbDropdownItem>Another Action</li>
                            <li ngbDropdownItem>Something else is here</li>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/profile">Author</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" #name (keyup.enter)="reset(name.value)">
                <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="reset(name.value)">Search</button>
            </form>
        </div>
    </nav>

    <div class="nav-scroller bg-white box-shadow">
        <nav class="nav nav-underline">
            <a class="nav-link myClickableThingy" (click)="reset('general')">General</a>
            <a class="nav-link myClickableThingy" (click)="reset('business')">Business</a>
            <a class="nav-link myClickableThingy" (click)="reset('entertainment')">Entertainment</a>
            <a class="nav-link myClickableThingy" (click)="reset('health')">Health</a>
            <a class="nav-link myClickableThingy" (click)="reset('science')">Science</a>
            <a class="nav-link myClickableThingy" (click)="reset('sports')">Sports</a>
            <a class="nav-link myClickableThingy" (click)="reset('technology')">Technology</a>
        </nav>
    </div>
    
     <!--
    <div class="navbar-scroller bg-white box-shadow">
        <nav class="nav nav-underline">
            <a class="nav-link myClickableThingy" (click)="reset('general')">General</a>
            <a class="nav-link myClickableThingy" (click)="reset('business')">Business</a>
            <a class="nav-link myClickableThingy" (click)="reset('entertainment')">Entertainment</a>
            <a class="nav-link myClickableThingy" (click)="reset('health')">Health</a>
            <a class="nav-link myClickableThingy" (click)="reset('science')">Science</a>
            <a class="nav-link myClickableThingy" (click)="reset('sports')">Sports</a>
            <a class="nav-link myClickableThingy" (click)="reset('technology')">Technology</a>
           
            <div ngbDropdown class="d-inline-block">
                <a class="nav-link myClickableThingy" id="dropdownBasic1" ngbDropdownToggle>More</a>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <div class="container">
                        <div class="row">
                            <a class="col-1 nav-link myClickableThingy"><p class='text-dark'>link1</p></a>
                            <a class="col-1 nav-link myClickableThingy"><p class='text-dark'>link1</p></a>
                            <a class="col-1 nav-link myClickableThingy"><p class='text-dark'>link1</p></a>
                            <a class="col-1 nav-link myClickableThingy"><p class='text-dark'>link1</p></a>
                            <a class="col-1 nav-link myClickableThingy"><p class='text-dark'>link1</p></a>
                            <a class="col-1 nav-link myClickableThingy"><p class='text-dark'>link1</p></a>
                            <a class="col-1 nav-link myClickableThingy"><p class='text-dark'>link1</p></a>
                            <a class="col-1 nav-link myClickableThingy"><p class='text-dark'>link1</p></a>
                            <a class="col-1 nav-link myClickableThingy"><p class='text-dark'>link1</p></a>
                            <a class="col-1 nav-link myClickableThingy"><p class='text-dark'>link1</p></a>
                            <a class="col-1 nav-link myClickableThingy"><p class='text-dark'>link1</p></a>
                            <a class="col-1 nav-link myClickableThingy"><p class='text-dark'>link1</p></a>
                        </div>
                        <div class="row">
                            <a class="col-1 nav-link myClickableThingy"><p class='text-dark'>link1</p></a>
                            <a class="col-1 nav-link myClickableThingy"><p class='text-dark'>link1</p></a>
                            <a class="col-1 nav-link myClickableThingy"><p class='text-dark'>link1</p></a>
                            <a class="col-1 nav-link myClickableThingy"><p class='text-dark'>link1</p></a>
                            <a class="col-1 nav-link myClickableThingy"><p class='text-dark'>link1</p></a>
                            <a class="col-1 nav-link myClickableThingy"><p class='text-dark'>link1</p></a>
                            <a class="col-1 nav-link myClickableThingy"><p class='text-dark'>link1</p></a>
                            <a class="col-1 nav-link myClickableThingy"><p class='text-dark'>link1</p></a>
                            <a class="col-1 nav-link myClickableThingy"><p class='text-dark'>link1</p></a>
                            <a class="col-1 nav-link myClickableThingy"><p class='text-dark'>link1</p></a>
                            <a class="col-1 nav-link myClickableThingy"><p class='text-dark'>link1</p></a>
                            <a class="col-1 nav-link myClickableThingy"><p class='text-dark'>link1</p></a>
                        </div>
                    </div>
                </div>
            </div>

        </nav>
    </div>-->
    
    <main role="main" class="container">
        <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
            <img class="mr-3" src="assets/images/Profile.png" alt="" width="48" height="48">
            <div class="lh-100">
                <h6 class="mb-0 text-white lh-100">Anonymous</h6>
                <small>Since 2020</small>
            </div>
        </div>
    
        <div *ngFor = "let e of news">
            <div class="frame my-3 p-3 bg-white rounded box-shadow">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-4 align-self-center">
                            <img src="{{e.key.urlToImage}}" class="img-fluid rounded zoom">
                        </div>
    
                        <div class="col pl-4 pr-4 align-self-center">
                            <div class="row pt-3"><h4>{{e.key.title}}</h4></div>
                            <div class="row"><p class="text-muted font-italic">{{e.key.author}} {{e.key.publishedAt}}</p></div>
                            <div class="row"><p class="text-justify">{{e.key.description}}<span><small><a href="{{e.key.url}}"> Read more</a></small></span></p></div>
                            <div class="row float-right pr-4">  
                                <p>
                                    <button type="button" class="btn btn-outline-dark" (click)="e.isCollapsed = !e.isCollapsed; loadTweets(e)"
                                            [attr.aria-expanded]="!e.isCollapsed" aria-controls="example">
                                      <small>Opinions</small>
                                    </button>
                                  </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="example" [ngbCollapse]="e.isCollapsed">
                <div class="card">
                    <div class="card-body">
                        <div *ngIf="!e.hasTweet" class="text-center">
                            <div class="spinner-border" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>

                        <div *ngIf="e.hasTweet" class="twetter-container">
                            <div *ngFor="let tweet of e.tweets | slice: (e.page-1) * pageSize : (e.page-1) * pageSize + pageSize">
                                <div class="fade-in my-1 p-1 bg-white rounded box-shadow">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-1 align-self-center">
                                                <img src="{{tweet.user.profileImageURL}}" class="round-img" height="40" width="40">
                                            </div>
                                            <div class="col">
                                                <p class="align-middle"><small class="font-weight-bold">@{{tweet.user.name}}: </small><small class="pl-1">{{tweet.text}}</small></p>
                                            </div> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="e.hasTweet" class="row">
                            <div class="col-md-9"><p class="text-right font-italic font-weight-bold"><small>NLP keywords extraction and twitter API seach</small></p></div>
                            <div class="col text-center pl-3"> 
                                <ngb-pagination [(page)]="e.page" [pageSize]="pageSize" [collectionSize]="e.tweets.length" size="sm"></ngb-pagination>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    
        <div 
            infiniteScroll 
            [infiniteScrollDistance]="2"
            [infiniteScrollThrottle]="1000"
            (scrolled)="onScroll()">
        </div>
        
        <div *ngIf="!finished" class="text-center">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    
        <div class="pt-2 pb-5">
            <button *ngIf="finished" type="button" class="btn btn-outline-dark btn-lg btn-block" (click)="backToTop()">
                No more news!
            </button>
        </div>
    
    </main>
    
</body>
