<body class="bg-light">

    <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Demo </a>
        <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="#">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Stock</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Account</a>
                </li>
                <li class="nav-item">
                    <div ngbDropdown class="d-inline-block">
                        <a class="nav-link myClickableThingy" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</a>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <li ngbDropdownItem>Action - 1</li>
                            <li ngbDropdownItem>Another Action</li>
                            <li ngbDropdownItem>Something else is here</li>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/profile">Author</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" list="dynmicUserIds" type="text" placeholder="Search" aria-label="Search" #name 
                    (keyup)="getSuggestions(name.value)" (keyup.enter)="reset(name.value); name.value=''">
                    <datalist id="dynmicUserIds">
                        <option *ngFor="let item of suggestions" [value]="item">{{item}}</option>
                    </datalist>
                <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="reset(name.value); name.value=''">Search</button>
            </form>
        </div>
    </nav>

    <div class="nav-scroller bg-white box-shadow">
        <nav class="nav nav-underline">
            <a class="nav-link myClickableThingy" (click)="reset('general')">General</a>
            <a class="nav-link myClickableThingy" (click)="reset('business')">Business</a>
            <a class="nav-link myClickableThingy" (click)="reset('entertainment')">Entertainment</a>
            <a class="nav-link myClickableThingy" (click)="reset('health')">Health</a>
            <a class="nav-link myClickableThingy" (click)="reset('science')">Science</a>
            <a class="nav-link myClickableThingy" (click)="reset('sports')">Sports</a>
            <a class="nav-link myClickableThingy" (click)="reset('technology')">Technology</a>
            <a class="nav-link myClickableThingy" (click)="changeMode('map')">Map</a>
            <a class="nav-link myClickableThingy dropdown-toggle" (click)="isCollapsed = !isCollapsed;"
                [attr.aria-expanded]="!isCollapsed" aria-controls="allNews">More</a>
        </nav>
    </div>
    <div id="allNews" [ngbCollapse]="isCollapsed" class="mega-menu">
        <div class="container-fluid px-0">
            <div class="row no-gutters">
                <div class="col-12">
                    <div class="row bg-white rounded-0 m-0 shadow-sm">
                        <div class="container-fluid bg-light">
                            <div class="row">
                                <div class="col-lg-3 mb-2">
                                    <h6 class="font-weight-bold text-uppercase pl-3 pt-2">Breaking news!</h6>
                                </div>
                            </div>
                            <div class="row">
                                <ng-container *ngFor="let component of source; let i = index;">
                                    <div *ngIf="i%6==0 && i!=0" class="w-100"><hr/></div>
                                    <div class="col-lg-2 col-sm-12">
                                        <ul class="list-unstyled">
                                            <li *ngFor="let c of component;" class="nav-item"><a  class="nav-link text-small pb-0 myClickableThingy" (click)="reset(c.sourceId)">{{c.sourceName}}</a></li>
                                        </ul>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-news *ngIf="mode=='news'" [news]="news" [finished]="finished"></app-news>
    <app-map *ngIf="mode=='map'"></app-map>

</body>