<!doctype html>
<html lang="en">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Offcanvas template for Bootstrap</title>
</head>

<body class="bg-light">

<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Demo </a>
    <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">News <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Stock</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Account</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Settings</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Author</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class="nav-scroller bg-white box-shadow">
    <nav class="nav nav-underline">
        <a class="nav-link" (click)="reset('general')" href="#">General</a>
        <a class="nav-link" (click)="reset('business')" href="#">Business</a>
        <a class="nav-link" (click)="reset('entertainment')" href="#">Entertainment</a>
        <a class="nav-link" (click)="reset('health')" href="#">Health</a>
        <a class="nav-link" (click)="reset('science')" href="#">Science</a>
        <a class="nav-link" (click)="reset('sports')" href="#">Sports</a>
        <a class="nav-link" (click)="reset('technology')" href="#">Technology</a>
    </nav>
</div>

<main role="main" class="container">
    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
        <img class="mr-3" src="assets/images/Profile.png" alt="" width="48" height="48">
        <div class="lh-100">
            <h6 class="mb-0 text-white lh-100">Anonymous</h6>
            <small>Since 2020</small>
        </div>
    </div>


    <div *ngFor = "let e of news">
        <div class="frame my-3 p-3 bg-white rounded box-shadow">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-4 align-self-center">
                        <img src="{{e.key.urlToImage}}" class="img-fluid rounded">
                    </div>

                    <div class="col pl-4 pr-4 align-self-center">
                        <div class="row pt-3"><h4>{{e.key.title}}</h4></div>
                        <div class="row"><p class="text-muted font-italic">{{e.key.author}} {{e.key.publishedAt}}</p></div>
                        <div class="row"><p class="text-justify">{{e.key.description}}<span><small><a href="{{e.key.url}}"> Read more</a></small></span></p></div>
                        <div class="row float-right pr-4">  
                            <p>
                                <button type="button" class="btn btn-outline-dark" (click)="e.val = !e.val"
                                        [attr.aria-expanded]="!e.val" aria-controls="example">
                                  <small>Opinion</small>
                                </button>
                              </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="example" [ngbCollapse]="e.val">
            <div class="card">
                <div class="card-body">
                some data
                </div>
            </div>
        </div>
    </div>

    <div 
        infiniteScroll 
        [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="1000"
        (scrolled)="onScroll()">
    </div>
    
    <div *ngIf="!finished" class="text-center">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <div class="pt-2 pb-5">
        <button *ngIf="finished" type="button" class="btn btn-outline-dark btn-lg btn-block" (click)="backToTop()">
            No more news!
        </button>
    </div>

</main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
  
    </body>
</html>
