<div class="modal-body p-3 fade-in">
    <div class="container">
        <div class="row" *ngIf="authError">
            <div class="col-12 alert alert-danger p-2">
                {{ authError?.message }}
            </div>
        </div>
        <div *ngIf="authError" class="pt-3"></div>
        <div class="row" *ngIf="error">
            <div class="col-12 alert alert-danger p-2">
                {{ error }}
            </div>
        </div>
        <div *ngIf="error" class="pt-3"></div>

        <form #signupForm="ngForm" (ngSubmit)="createUser(signupForm)" class="login100-form validate-form">
            <div class="wrap-input100 validate-input" data-validate="Please enter username">
                <input class="input100" type="text" name="email" placeholder="Email" ngModel>
                <span class="focus-input100"></span>
            </div>
    
            <div class="pt-3"></div>
    
            <div class="wrap-input100 validate-input" data-validate="Please enter username">
                <input class="input100" type="text" name="username" placeholder="Username" ngModel>
                <span class="focus-input100"></span>
            </div>
    
            <div class="pt-3"></div>
    
            <div class="wrap-input100 validate-input" data-validate = "Please enter password">
                <input class="input100" type="password" name="password" placeholder="Password" ngModel>
                <span class="focus-input100"></span>
            </div>
    
            <div class="pt-3"></div>
    
            <div class="wrap-input100 validate-input" data-validate = "Please enter password">
                <input class="input100" type="password" name="confirmPassword" placeholder="Confirm Password" ngModel>
                <span class="focus-input100"></span>
            </div>

            <div class="pt-4"></div>
    
            <div class="flex-col-c pl-3">
                <a (click)="changeMode()" class="myClickableThingy text-success txt3">
                    back
                </a>
            </div>

            <div class="pt-2"></div>

            <div class="container-login100-form-btn">
                <button class="login100-form-btn">
                    Sign up
                </button> 
            </div>
        </form>
        <div class="pt-5"></div>
    </div>
</div>
        




